<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>
        write something , preferable a number
        <input v-model="originData">
        </p>
        <input v-model="originData" type="text">
        <p>{{originData}}</p>
        <p>model 绑定多少个会怎么样，没错，每个改变其他都会跟着变，数据驱动</p>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.6/vue.js"></script>
    <script>
    new Vue({
        el: '#app',
        filters:{
            double: function(value){
                return Number(value)*2 || 0;
            }
        },
        data() {
            return {
                originData: 0
            }
        },
        methods: {
         
        },
    })
    </script>
</body>
</html>