<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>
        Ask a yes/no question:
        <input v-model="question">
        </p>
        <p>{{ answer }}</p>
        <input v-model="searchText"/>
        <p>{{ searchText }}</p>
        <p>handler 方法名称</p>
        <p>deep 深度监听 引用对象 键值改变</p>
        <p>immediate 回调会在监听开始之后立即调用</p>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.6/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script>
    new Vue({
        el: '#app',
        data() {
            return {
                answer: 'I cannot give you an answer until you ask a question!',
                question: '',
                searchText:'123'
            }
        },
        created() {

        },
        watch: {
            question: function (){
                this.answer = 'Waiting for you to stop typing...';
                this.debouncedGetAnswer()
            },
            searchText: {
                handler: 'showText',
                immediate: true
            }
        },
        created() {
            this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
        },
        methods: {
            getAnswer: function(){
                if(this.question.indexOf('?') === -1){
                    this.answer = 'Questions usually contain a question mark. ;-)'
                    return
                }
                this.answer = 'Thinking...'
                var vm = this
                setTimeout(function(){
                    vm.answer = "yes"
                }, 2000)
            },
            showText() {
                console.log(this.searchText)
            }
        },
    })
    </script>
</body>
</html>